[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
httpcore = {editable = true,path = "."}
databases = "*"
sanic = "*"
secure = "*"
environs = "*"
sanic-envconfig = "*"
asyncpg = "*"

[requires]
python_version = "3.7"
